<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>dashboard-registrasi</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://kit.fontawesome.com/b199958056.js" crossorigin="anonymous"></script>
    </head>
    </head>
    <body>
        <div class="inner-content-tabbing-visitordetail my-3 py-3">
            <div class="mx-3 mb-3">
                
                <div class="col-md-12">
                    <div class="card border-radius-8">
                        <div class="card-body" style="background-color: #C3C3C3;">
                            <h1 style="font-weight: bold;">Check in - Group Arrival</h1>
                        </div>
                    </div>
                </div>

                <div class="box-reservation-xev my-3 py-5">
                    <div class="card border-radius-8">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkAll"></th>
                                        <th scope="col">Arrival Date</th>
                                        <th scope="col">Group Name</th>
                                        <th scope="col">Session</th>
                                        <th scope="col">PIC Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Total Arrival</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input class="checkItem" type="checkbox"></td>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>@mdo</td>
                                        <td>@mdo</td>
                                        <td><button class="btn btn-primary flex-center mt-1 py-1 px-4 border-radius-8 btn-sm" type="submit" id="submit-reservation" style="background-color: #00B934; color: white; font-weight: bold;">Detail</button></td>
                                    </tr>
                                    <tr>
                                        <td><input class="checkItem" type="checkbox"></td>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                        <td>@fat</td>
                                        <td>@mdo</td>
                                        <td><button class="btn btn-primary flex-center mt-1 py-1 px-4 border-radius-8 btn-sm" type="submit" id="submit-reservation" style="background-color: #00B934; color: white; font-weight: bold;">Detail</button></td>
                                    </tr>
                                    <tr>
                                        <td><input class="checkItem" type="checkbox"></td>
                                        <th scope="row">3</th>
                                        <td>@twitter</td>
                                        <td>@twitter</td>
                                        <td>@twitter</td>
                                        <td>@twitter</td>
                                        <td>@mdo</td>
                                        <td><button class="btn btn-primary flex-center mt-1 py-1 px-4 border-radius-8 btn-sm" type="submit" id="submit-reservation" style="background-color: #00B934; color: white; font-weight: bold;">Detail</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="col-md-12">
                                    <button class="btn btn-primary flex-center mt-3 py-1 px-4 mx-2 border-radius-8 btn-sm" type="submit" id="submit-reservation" style="background-color: #CE2500; color: white; font-weight: bold; float: left;">Delete</button>
                                    <i class="fa-solid fa-circle-chevron-right fa-xl flex-center mt-4 py-2 px-3" style="color: #000000; float: right;"></i>
                                    <i class="fa-solid fa-circle-chevron-left fa-xl flex-center mt-4 py-2 px-3" style="color: #000000; float: right;"></i>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
            

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
    </html>